.myButton {
    font-size: 1.5rem;
    color: #ffffff;
    border: none;
    padding: 13px 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s all;

    &.orange-btn {
        background: #FF5018;

        &:hover {
            transition: .3s all;
            background: #ff370c;
        }
    }

    &.blue-btn {
        background: #1890FF;

        &:hover {
            transition: .3s all;
            background: #2187e8;
        }
    }

    svg {
        animation: rotate infinite 2s linear;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
