.login-window{
  padding: 20px 0 20px 0;

  .auth__wrapper {
    width: 85%;
  }

  &__title {
    margin-bottom: 31px;
  }

  &__select {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 46px;

    .auth-select-checkbox {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }

  &__inputs {

    .myInput:not(:first-child) {
      margin-top: 19px;
    }
  }

  &__btn {
    margin: 56px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      width: 200px;
    }
  }

  .error {
    color: #ff370c;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin: 10px auto;
    display: block;
    visibility: hidden;

    &.error_visible {
      visibility: visible;
    }
  }
}
