@import "../scss/variables";

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.idea-loader {
  width: 100%;
  height: calc(100vh -  #{$headerHeight});
  display: flex;
  align-items: center;
  justify-content: center;
}
